<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
   
      <property name = "hibernate.dialect">
         org.hibernate.dialect.MySQL5Dialect
      </property>
      
      <property name = "hibernate.connection.driver_class">
         com.mysql.jdbc.Driver
      </property>
      
      <property name = "hibernate.connection.url">
         jdbc:mysql://mysql:3306/eWRLD
      </property>
      
      <property name = "hibernate.connection.username">
         team_ewrld
      </property>
      
      <property name = "hibernate.connection.password">
         tew-aps#9977
      </property>
      
      <property name = "connection.pool_size">
           1
      </property>
      
      <property name = "show_sql">
         true
      </property>
      
      <property name = "hbm2ddl.auto">
         update
      </property>
      
      <mapping class="com.aps.entitiespojos.UserDetails"/>
      <mapping class="com.aps.entitiespojos.UserRatings"/>
      <mapping class="com.aps.entitiespojos.Places"/>
      <mapping class="com.aps.entitiespojos.Address"/>
      
   </session-factory>
</hibernate-configuration>
